@import "tailwindcss"; 

:root {
  --primary-color: #c00000;
  --secondary-color: #fce8e8;
  --background-color: #fdfbfb;
  --text-primary: #1a1a1a;
  --text-secondary: #4d4d4d;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-primary);
}